body {
    width: 1440px;
}
.a {
	width: 1440px;
    height: 40px;
	margin: 0 auto;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #F4F4F4;
    border-radius: 0px;
}
.Cont {
    height: 33px;
    position: absolute;
    left: 1105px;
    right: 0%;
    top: -12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
}
.TEL{
    position: absolute;
    height: 33px;
    left: 1235px;
    right: 0%;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
    text-decoration: none;
}
.US{
    position: absolute;
    height: 33px;
    left: 1365px;
    right: 0%;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
    text-decoration: none;
}
.Fr0{
    position: absolute;
    width: 14px;
    height: 7px;
    left: 1385px;
    top: 8px;
}
.b{
    position: absolute;
    width: 1440px;
    height: 140px;
    left: 0%;
    right: 0%;
    top: 40px;
    background: #FFFFFF;
    border-radius: 0px;
}
.L1{
    position: relative;
    left: 360px;
    right: 0%;
    top: 10%;
    bottom: 0%;
}
.Prod{
    position: absolute;
    height: 15px;
    left: 0px;
    right: 0%;
    top: 22%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;   
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.Expl{
    position: absolute;
    height: 15px;
    left: 360px;
    right: 0%;
    top: 22%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.Shop{
    position: absolute;
    height: 15px;
    left: 700px;
    right: 0%;
    top: 22%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.F0{
    position: absolute;
    height: 24px;
    left: 1450px;
    right: 0%;
    top: 20%;
    border-radius: 0px;
}
.Show{
    position: absolute;
    height: 15px;
    left: 1480px;
    right: 0%;
    top: 22%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000000;
}
.F01{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1620px;
    top: 20%;
    background: none;
	border: none;
}
.b1{
    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 122px; 
    background: #E0E0E0;
    left: 12.5%;
    right: 12.5%
}
.Im1 {
    position: absolute;
    width: 1327px;
    height: 746px;
    left: 297px;
    top: 188px;
    background: url(111111.jpg);
}
.T1 {
    position: absolute;
    Width: 355px;
    Height: 174px;
    left: 415px;
    top: 1016px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #1A1A1A;
}
.T2 {
    position: absolute;
    width: 569px;
    height: 160px;
    left: 906px;
    top: 1027px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #AAAAAA;
}

.Im2{
    position: absolute;
    height: 412px;
    left: 360px;
    top: 1398px;
    background: url(.jpg);
    border-radius: 0px;
}
.Im3{
    position: absolute;
    height: 412px;
    left: 972px;
    top: 1398px;
    background: url(.jpg);
    border-radius: 0px;
}
.Im4{
    position: absolute;
    height: 412px;
    left: 360px;
    top: 1879px;
    background: url(.jpg);
    border-radius: 0px;
}
.Im5{
    position: absolute;
    height: 412px;
    left: 972px;
    top: 1879px;
    background: url(.jpg);
    border-radius: 0px;
}

.T2Txt{
    position: absolute;
    height: 28px;
    left: 360px;
    top: 1819px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}

.T3Txt{
    position: absolute;
    height: 28px;
    left: 972px;
    top: 1819px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #1A1A1A;
}
.T4Txt{
    position: absolute;
    height: 28px;
    left: 360px;
    top: 2300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}

.T5Txt{
    position: absolute;
    height: 28px;
    left: 972px;
    top: 2300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #1A1A1A;
}
.T3{
    position: absolute;
    Width: 941px;
    height: 48px;
    left: 490px;
    top: 2572px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #1A1A1A;
}
.T4{
    position: absolute;
    Width: 280px;
    height: 36px;
    left: 820px;
    top: 2649px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #1A1A1A;
}
.Im6{
    position: absolute;
    height: 327px;
    left: 360.5px;
    right: 0%;
    top: 2808px;
}

.Rp1{
    position: absolute;
    height: 700px;
    left: 240px;
    top: 3325px;
    background: url(.png);
    border-radius: 0px;
}
.Rp2{
    position: absolute;
    width: 1344px;
    height: 700px;
    left: 288px;
    top: 3325px;
    background: url(.jpg);
    border-radius: 0px;
}
.Rp3{
    position: absolute;
    height: 700px;
    left: 1632px;
    top: 3325px;
    background: url(.jpg);
    border-radius: 0px;
}
.Fr1{
    position: absolute;
    height: 12px;
    left: 288px;
    top: 4049px;
}
.T5{
    position: absolute;
    Width: 1077px;
    height: 168px;
    left: 415px;
    top: 4144px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #1A1A1A;
}
.T6{
    position: absolute;
    Width: 107px;
    height: 12px;
    left: 415px;
    top: 4336px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #1A1A1A;
}
.T7{
    position: absolute;
    Width: 160px;
    height: 24px;
    left: 415px;
    top: 4566px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #1A1A1A;
}
.T8{
    position: absolute;
    Width: 137px;
    height: 24px;
    left: 778px;
    top: 4566px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #1A1A1A;
}
.T9{
    position: absolute;
    Width: 84px;
    height: 24px;
    left: 1142px;
    top: 4566px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #1A1A1A;
}

.T7_1{
    position: absolute;
    width: 316px;
    height: 120px;
    left: 415px;
    top: 4608px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.T8_1{
    position: absolute;
    Width: 299px;
    height: 144px;
    left: 778px;
    top: 4608px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.T9_1{
    position: absolute;
    Width: 323px;
    height: 120px;
    left: 1142px;
    top: 4608px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.Fr2{
    position: absolute;
    left: 469px;
    top: 4419px;
}
.Fr3{
    position: absolute;
    left: 834px;
    top: 4419px;
}
.Fr4{
    position: absolute;
    left: 1222px;
    top: 4419px;
}

.Im7{
    position: absolute;
    height: 800px;
    left: 290px;
    top: 4989px;
    background: url(.jpg);
    border-radius: 0px;
}

.T10{
    position: absolute;
    width: 882px;
    height: 260px;
    left: 515px;
    top: 6029px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 52px;
    color: #AAAAAA;
}

.T11{
    position: absolute;
    height: 52px;
    left: 515px;
    top: 6314px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 52px;
    color: #000000;
}
.Im8{
    position: absolute;
    height: 672px;
    left: 360px;
    top: 6501px;
    background: url(.jpg);
    border-radius: 0px;
}
.T12{
    position: absolute;
    width: 213px;
    height: 36px;
    left: 1121px;
    top: 6759px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
}
.T13{
    position: absolute;
    width: 311px;
    height: 96px;
    left: 1121px;
    top: 6822px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.T14{
    position: absolute;
    width: 206px;
    height: 72px;
    left: 470px;
    top: 7453px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
}
.T15{
    position: absolute;
    width: 298px;
    height: 144px;
    left: 470px;
    top: 7552px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.Im9{
    position: absolute;
    width: 671px;
    height: 672px;
    left: 889px;
    top: 7237px;
    background: url(.jpg);
    border-radius: 0px;
}
.T16{
    position: absolute;
    width: 176px;
    height: 72px;
    left: 1141px;
    top: 8189px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
}
.T17{
    position: absolute;
    width: 309px;
    height: 144px;
    left: 1141px;
    top: 8288px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}
.Im10{
    position: absolute;
    width: 671px;
    height: 672px;
    left: 360px;
    top: 7937px;
    background: url(.jpg);
    border-radius: 0px;
}
.Rp4{
    position: absolute;
    height: 700px;
    left: 240px;
    top: 8933px;
    background: url(.png);
    border-radius: 0px;
}
.Rp5{
    position: absolute;
    width: 1344px;
    height: 700px;
    left: 288px;
    top: 8933px;
    background: url(.jpg);
    border-radius: 0px;
}
.Rp6{
    position: absolute;
    height: 700px;
    left: 1632px;
    top: 8933px;
    background: url(.jpg);
    border-radius: 0px;
}
.c{
    position: absolute;
    width: 1200px;
    height: 465px;
    left: 347px;
    top: 9919px;
    background: #F2F2F2;
    border-radius: 2px;
}
.Days100{
    position: absolute;
    width: 446px;
    height: 51px;
    left: 377px;
    top: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 51px;
    text-align: center;
    color: #000000;
}
.Fr5{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 301px;
    top: 179px;
    border-radius: 0px;
}
.Fr6{
    position: absolute;
    width: 63.85px;
    height: 51px;
    left: 568px;
    top: 185px;
    border-radius: 0px;
}
.Fr7{
    position: absolute;
    height: 64px;
    left: 835px;
    top: 179px;
    border-radius: 0px;
}
.T18{
    position: absolute;
    width: 97px;
    height: 14px;
    left: 285px;
    top: 265px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #1A1A1A;
}
.T19{
    position: absolute;
    width: 83px;
    height: 14px;
    left: 558px;
    top: 265px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #1A1A1A;
}
.T20{
    position: absolute;
    width: 95px;
    height: 14px;
    left: 819px;
    top: 265px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #1A1A1A;
}
.Bn1{
    position: absolute;
    width: 146px;
    height: 50px;
    left: 527px;
    top: 349px;
    background: #46856E;
    border-radius: 2px;
}
.Bn1T1{
    position: absolute;
    width: 98px;
    height: 50px;
    left: 24px;
    top: -15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.T21{
    position: absolute;
    width: 138px;
    height: 14px;
    left: 531px;
    top: 425px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 619px;
    left: 240px;
    top: 10463px;
    background: #2B2B2B;
    box-shadow: 0px 400px 0px #2B2B2B;
    border-radius: 0px;
}
.L2{
    position: absolute;
    width: 87px;
    height: 87px;
    left: 175px;
    top: 97px;
    background: url(.png);
    border-radius: 0px;
}
.BT1{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 97px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT2{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 132px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT3{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 152px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT4{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 172px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT5{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 192px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT6{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 212px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT7{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 252px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT8{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 315px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT9{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT10{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT11{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 390px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT12{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 410px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT13{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 430px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT14{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 450px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT15{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 470px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT16{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 490px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT17{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 510px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT18{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 530px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT19{
    position: absolute;
    height: 16px;
    left: 331px;
    top: 550px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
.BT20{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 97px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT21{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 137px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT22{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 157px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT23{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 177px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT24{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 197px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT25{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 217px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT26{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 237px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT27{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 257px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT28{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 277px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
    text-decoration: none;
}
.BT29{
    position: absolute;
    height: 16px;
    left: 501px;
    top: 315px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}

.Addr{
    position: absolute;
    width: 125px;
    height: 30px;
    left: 501px;
    top: 355px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;

}

.Fol{
    position: absolute;
    width: 64px;
    height: 21px;
    left: 740px;
    top: 97px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.R1{
    position: absolute;
    height: 20px;
    left: 740px;
    top: 135px;
    background: url(.png);
    border-radius: 0px;
}

.R2{
    position: absolute;
    height: 20px;
    left: 773px;
    top: 135px;
    background: url(.png);
    border-radius: 0px;
}

.R3{
    position: absolute;
    height: 20px;
    left: 806px;
    top: 135px;
    background: url(.png);
    border-radius: 0px;
}

.R4{
    position: absolute;
    height: 20px;
    left: 839px;
    top: 135px;
    background: url(.png);
    border-radius: 0px;
}

.BT30{
    position: absolute;
    width: 132px;
    height: 21px;
    left: 938px;
    top: 97px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}

.BT31{
    position: absolute;
    height: 16px;
    left: 938px;
    top: 135px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}
 .Wr1{
    position: absolute;
    width: 327px;
    height: 54px;
    left: 938px;
    top: 181px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 3px;
    background: #2B2B2B;
 }

 .BT32{
    position: absolute;
    height: 21px;
    left: 1161px;
    top: 251px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.G1{
    position: absolute;
    left: 1244px;
    top: 253px;
}
.Agree{
    position: absolute;
    width: 28px;
    height: 26px;
    left: 890px;
    top: 328px;
}

.AgreeText{
    position: absolute;
    width: 369px;
    height: 78px;
    left: 938px;
    top: 328px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.BT33{
    position: absolute;
    width: 72px;
    height: 60px;
    left: 1199px;
    top: 464px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 60px;
    text-align: right;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.BT34{
    position: absolute;
    width: 180px;
    height: 13px;
    left: 1320px;
    top: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
    text-decoration: none;
}